.DS_Store
*~
\#*#
.#*
*.swp

*.a
*.o
*.so
*.pyc

core

*.gz
*.tgz

*.err
*.log
*.out

__pycache__

env.sh
unenv.sh
saved-env.sh

setup/conda/
setup/fftw-*/
setup/install/
setup/cufinufft
setup/finufft
setup/lcls2
setup/legion
legion_build_dir.sh

*@neomake*

setup/spack/
setup/spack_machine_config.yaml
setup/spack.lock
setup/.spack-env/
setup/Makefile
setup/str
