.DS_Store
*~
\#*#
.#*
*.swp

*.a
*.o
*.so
*.pyc

core

*.gz
*.tgz

*.err
*.log
*.out

__pycache__

env.sh
unenv.sh
saved-env.sh

setup/conda/
setup/fftw-*/
setup/install/
legion_build_dir.sh

*@neomake*
