[submodule "setup/gasnet"]
	path = setup/gasnet
	url = https://github.com/StanfordLegion/gasnet.git
[submodule "setup/legion"]
	path = setup/legion
	url = https://gitlab.com/StanfordLegion/legion.git
[submodule "setup/lcls2"]
	path = setup/lcls2
	url = https://github.com/slac-lcls/lcls2.git
[submodule "setup/finufft"]
	path = setup/finufft
	url = https://github.com/elliottslaughter/finufft.git
[submodule "setup/pysingfel"]
	path = setup/pysingfel
	url = https://github.com/chuckie82/pysingfel.git
[submodule "setup/cufinufft"]
	path = setup/cufinufft
	url = https://github.com/darrenjhsu/cufinufft.git
    branch = djh/PyBindGPU
[submodule "setup/skopi"]
	path = setup/skopi
	url = https://github.com/chuckie82/skopi.git
[submodule "setup/ucx"]
	path = setup/ucx
	url = https://github.com/openucx/ucx.git
